<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestAll" preserve-order="true">
	<test name="Quickshare Tests">
		<packages>
			<package name="com.vector.extranet.selenium.test.quickshare" />
		</packages>
	</test>
	<test name="Common Tests">
		<packages>
			<package name="com.vector.extranet.selenium.test.common" />
		</packages>
	</test>
	<test name="Account Tests">
		<packages>
			<package name="com.vector.extranet.selenium.test.account" />
		</packages>
	</test>
	<test name="Member Area Tests" >
		<packages>
			<package name="com.vector.extranet.selenium.test.memberarea" />
		</packages>
	</test>
</suite>